{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Debug Asterinas(#PROFILE#)",
            "type": "lldb",
            "request": "custom",
            "targetCreateCommands": ["target create ${workspaceFolder}/target/osdk/#CRATE_NAME#/#BIN_NAME#.qemu_elf"],
            "processCreateCommands": ["gdb-remote #ADDR_PORT#"]
        }
    ]
}
